extends layout

block content
  h1 Things I’ve LOVED Having for Pregnancy…

  ul
    li #[a(href='http://www.doterratools.com/documents/Lavender_Essential_Oil_Product_Information_Page.pdf') Lavender].  For chapped lips, for my growing tummy, on the bottoms of my feet for sleeping -- always applied with fractionated coconut oil.
    li “Rolling out” my quads.  I was told this would help with hip/lower back pain while those things are all moving around, and it certainly seems to!  I have had very little of that type of discomfort!  I use one of #[a(href='http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=roller+stick&rh=i%3Aaps%2Ck%3Aroller+stick' title='buy roller on amazon') these].
    li Gap brand maternity jeans.  I used a demi panel for a few months (I was amazed how quickly I felt like I needed some extra room!  When I saw the demi panel jeans before I was pregnant, I thought: “Who would buy those?”  I thought they were intended for late pregnancy, because you wouldn’t need special pants before then.  I was wrong!), but then once the panel started rolling down in the front halfway through the day, I knew it was time for a change to the full panel.
    li Soft, long, stretchy shirts.
    li Ginger candies and ginger juice (found a good blend with apple juice!) for pregnancy (“morning”) sickness.
    li Good-quality protein powder.  It is so easy to take a cup (I like using mason jars!) with some dry protein powder in it to work, just in case you need a little extra something.
    li Bradley class
    li “Ina May’s Guide to Childbirth” book.  This woman is a widely-regarded expert midwife, and the book is full of tons of interesting information.  Plus, the first third or so is just birth stories! It's so great to have so many positive ones in mind, rather than the negative, scream-y ones from TV!
    li Prenatal Yoga.  I’d like to do it more than once a week, but my local place just offers it on Sundays.
    li Coobie brand bras.  Stretchy one-size-fits-most, and they come with removable nursing pads in them, so you can use them while you’re lactating.  My sister’s tip: Every once in awhile, after your baby has arrived and you are lactating, you may need to wash these with some tougher cleaner, like bleach.  (I think I’ll try the “stripping” treatment I learned about for cloth diapers, which is bleach-free…)  They can apparently retain a smell from all that milk over time.
