extends layout

block content
  div(class="banner")
    br
    br
    ul(class="bxslider slider")
      each path in images
        li
          img(src=path)

  div(class="content")
    p Thanks for visiting, more to come soon!
