doctype html
html
  head
    title= title
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:400,400italic')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bxslider-4/dist/jquery.bxslider.min.css')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/bxslider-4/dist/jquery.bxslider.min.js')
    script(src='/javascripts/bxSliderInit.js')
  body
    nav(id='main-nav')
      a(href='/' class='wedding-link')
        img(src='images/gAndBHeart-06.png')
      ul
        li
          a(href='/beebee-shower') baby shower
        li
          a(href='/gin-on-pregnancy') Ginger on Pregnancy

    div(id='main')
      block content
