extends layout

block content
  h1 Brandon and Ginger's Baby Shower Registry
  p We have already inherited many items from family and friends with slightly older children, and do not need much for the baby at this point.  However, we also know and appreciate how much you all want to help get us started on the best footing as parents!

  p If you plan on gifting, please do one of the following:
  ol
    li only purchase gifts that are on our registry,
    li contribute to a larger item, or
    li assist us in one of various ways as a gift.
  p More info on each below:

  h2 Gift Registries
  p Our gift registries can be found at these links: <br>
  ul
    li #[a(href='http://www.amazon.com/registry/baby/NBTA6UARRTDK' title='amazon registry link') Our Amazon Registry]
    li #[a(href='http://www.containerstore.com/giftregistry/view.htm?id=3260226' title='target registry link') Our Container Store Registry]

  h2 Contributions
  p Here are a few higher-ticket items that we would love to have and are planning to invest in ourselves if/as needed.  Please talk to Sharon or Linda about contributing.
  ul
    li Rocking chair
    li College fund for the baby

  h2 Ways to Assist Us
  ul
    li A homemade meal, to be enjoyed with you at our home (so you can also meet the baby!).  We will have a sign-up sheet for this at the baby shower.
    li Gift card for #[a(href="http://backtobasicskitchen.com/products/gift-card") Back to Basics Kitchen].  These folks catered our wedding, and now make high-quality prepared foods that can be bought and warmed at home.
    li Subscription food services - if you’d like to contribute to one of these, please let Linda or Sharon know, and they coordinate it so we don’t get multiple of something all at once.  :-D
    ul
      li #[a(href='http://BlueApron.com') BlueApron.com]
      li #[a(href='http://LoveWithFood.com') LoveWithFood.com] (they give a meal to a hungry child with every box sent, and they have a gluten-free box!)
    li Time from a house-cleaning service
    li Other body- and/or soul-nourishing activities you can think of for us as new parents or for the whole family!
